<figure class="text-center">
  <blockquote class="blockquote">
    <p>Welcome to CGI Library, we have 1000 books!</p>
  </blockquote>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</figure>


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" class="btn btn-outline-primary me-md-4" (click)="prevPage()">Prev page</button>
  <button type="button" class="btn btn-outline-primary me-md-4" (click)="nextPage()">Next page</button>
</div>

<div class="container">
  <div class="row" *ngIf="(books$ | async) as books">
    <div class="card" *ngFor="let book of books.content" style="width: 10rem;">
      <div *ngIf="searchText === '' || book.title.toLowerCase().includes(searchText) ">
        <img src="../../../favicon.ico" [routerLink]="['/books', book.id]" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.author}}</h5>
          <p class="card-text">{{book.title}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{book.genre}}</li>
          <li class="list-group-item">{{book.year}}</li>
          <li class="list-group-item">{{book.status}}</li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['/books', book.id]" class="card-link">Book details</a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" class="btn btn-outline-primary me-md-2" (click)="prevPage()">Prev page</button>
  <button type="button" class="btn btn-outline-primary" (click)="nextPage()">Next page</button>
</div>

<!--
  Where i took the styles for card views
https://getbootstrap.com/docs/5.0/layout/grid/
https://getbootstrap.com/docs/5.0/components/card/
-->
