<figure class="text-center">
  <blockquote class="blockquote">
    <p>Books, a lot of books, 1337 to be precise</p>
  </blockquote>
</figure>
<div class="container">
  <div class="row" *ngIf="(books$ | async) as books">
    <div class="card" *ngFor="let book of books.content"  style="width: 18rem;">
      <img src="../../../favicon.ico" [routerLink]="['/books', book.id]" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{book.author}}</h5>
        <p class="card-text">{{book.title}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{book.genre}}</li>
        <li class="list-group-item">{{book.year}}</li>
        <li class="list-group-item">{{book.status}}</li>
      </ul>
      <div class="card-body">
        <a [routerLink]="['/books', book.id]" class="card-link">Book details</a>
      </div>
    </div>
</div>
        
<!--
  Where i took the styles for card views
https://getbootstrap.com/docs/5.0/layout/grid/
https://getbootstrap.com/docs/5.0/components/card/
-->

