<figure class="text-center">
    <h2>Welcome to check out page</h2>
    
  </figure>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-outline-primary me-md-4" (click)="prevPage()">Prev page</button>
    <button type="button" class="btn btn-outline-primary me-md-4" (click)="nextPage()">Next page</button>
</div>

<div class="container" *ngIf="(checkouts$ | async) as checkouts">
    <div class="card" *ngFor="let checkout of checkouts.content">
        <div class="card-header">
            Book: {{(checkout.borrowedBook.title)}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Borrower: {{checkout.borrowerFirstName}} {{checkout.borrowerLastName}}</h5>
            <p class="card-text"></p>
            <a [routerLink]="['/checkouts', checkout.id]" class="btn btn-primary">Checkout details</a>
        </div>
    </div>
</div>